*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
}

.dis-flex {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.logo.increase-h2 {
  font-size: 8rem;
}

.top-padding {
  padding-top: 3rem;
}

.login-header-p {
  font-size: 2rem;
}

section {
  padding: 9.6rem 0;
}

/* LOGIN STYLING */
.signin-body {
  background-color: wheat;
  height: 100vh;
}

.section-form {
  max-width: 100rem;
  margin: 0 auto;
  /* border: 0.1rem solid #ccc; */
  padding: 4rem 2rem;
  background-color: white;
}

.form {
  padding: 3.2rem 0;
}

.user-tranction {
  max-width: none;
  width: 100%;
}

.checkout-header.transaction-header {
  padding-top: 0;
}

.section-form-side {
  padding: 0 2rem;
}

.login-header {
  padding-bottom: 3.2rem;
  color: #f15c4a;
  text-align: center;
}

/* Full-width input fields */
input[type="email"],
input[type="password"],
input[type="number"],
input[type="text"],
input[type="search"] {
  width: 100%;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  display: inline-block;
  border: 0.1rem solid #ccc;
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
}

/* Set a style for all buttons */
button,
.add-product {
  background-color: #f15c4a;
  color: white;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

button:hover,
.add-product:hover {
  background-color: #ff533d;
  transition: 0.3s;
}

.a-default {
  text-decoration: none;
  font-size: 1.6rem;
  display: block;
}

.back {
  color: #f15c4a;
  display: inline;
}

.back:hover {
  color: red;
}

.add-product-header {
  padding-top: 3.2rem;
}

/* NAVIGATION */
.container-fluid {
  color: white;
  background-color: #f15c4a;
  padding: 0 2rem;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 115.2rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.general-one {
  flex: 1 1 auto;
}

.logo-container {
  align-self: center;
  padding-left: 2rem;
}

.logo {
  font-family: "Faster One", cursive;
  font-size: 3.6rem;
}

.nav-links {
  display: flex;
  /* padding: 2rem 0; */
  justify-content: flex-end;
}

.nav-link {
  list-style-type: none;
}

.nav-link a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
}

.nav-link a:hover {
  color: #f15c4a;
  background: white;
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

/* CHECKOUT */
.products {
  max-width: 115.2rem;
  margin: 0 auto;
}

#checkout,
#add-to-cart {
  text-align: center;
  width: 100%;
}

#checkout th,
#add-to-cart th {
  /* padding: 2rem; */
  width: 20rem;
}

table {
  border-collapse: collapse;
}

tr {
  border: none;
  border-bottom: 1px solid #ccc;
  height: 6.5rem;
}

td {
  border: none;
  border-bottom: 1px solid #ccc;
}

.checkout-header,
.add-to-cart-header {
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
  color: #f15c4a;
}

.checkout-header,
.add-to-cart-header {
  padding-top: 6rem;
}

.add-button {
  width: 10rem;
  border-radius: 0.5rem;
  /* padding: 1.5rem 2rem; */
  padding: 1.2rem 2rem;
}

.checkout-total-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
}

.delete-button {
  background-color: #e41818;
}

.delete-button:hover {
  background-color: #f00;
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.edit-button {
  background-color: #787575;
}

.edit-button:hover {
  background-color: #504c4c;
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.admin {
  padding-top: 1rem;
  text-align: center;
}

.admin-flow {
  color: #ff533d;
  text-decoration: none;
}

.admin-flow:hover {
  text-decoration: underline;
}

.user-details p {
  padding: 0 0.5rem 2rem 0.5rem;
  font-size: 2rem;
  color: #787575;
}

.search-container {
  position: relative;
}

.search-button {
  padding: 1rem 2rem;
  border-radius: 0;
  position: absolute;
  top: 0;
  width: 6rem;
  height: 4.5rem;
  right: 0;
}

.search {
  padding-bottom: 1rem;
}

.search-container {
  width: 50%;
}

#checkout-page .active-checkout,
#product-page .active-product,
#transaction-page .active-transaction,
#manage-inventory-page .active-manage-inventory,
#attendant-page .active-attendant {
  font-size: 700;
  background-color: white;
  color: #f15c4a;
}
